<div class="container mx-auto my-20 px-4">
    <h1 class="text-3xl font-semibold mb-4 text-gray-600">Mantenimiento de Pruebas de Laboratorio</h1>
    <br>
    <div class="mt-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded">
            Crear Prueba de Laboratorio
        </button>
    </div>
    <br>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <article class="rounded-xl border-2 border-gray-100 bg-white">
            <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
                <a href="#" class="block shrink-0">
                    <img alt="Prueba de Laboratorio" src="URL_DE_LA_IMAGEN" class="h-14 w-14 rounded-lg object-cover" />
                </a>

                <div>
                    <h3 class="font-medium sm:text-lg">
                        <a href="#" class="hover:underline">Nombre de la Prueba 1</a>
                    </h3>

                    <p class="line-clamp-2 text-sm text-gray-700">
                        Descripción de la Prueba de Laboratorio 1.
                    </p>
                </div>
            </div>

            <div class="flex justify-end">
                <strong
                    class="-mb-[2px] -me-[2px] inline-flex items-center gap-1 rounded-ee-xl rounded-ss-xl bg-green-500 px-3 py-1.5 text-white">
                    <i class="fas fa-check-circle text-[10px] font-medium sm:text-xs"></i>
                    <span class="text-[10px] font-medium sm:text-xs">Completado</span>
                </strong>
            </div>

        </article>


        <article class="rounded-xl border-2 border-gray-100 bg-white">
            <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
                <a href="#" class="block shrink-0">
                    <img alt="Prueba de Laboratorio" src="URL_DE_LA_IMAGEN" class="h-14 w-14 rounded-lg object-cover" />
                </a>

                <div>
                    <h3 class="font-medium sm:text-lg">
                        <a href="#" class="hover:underline">Nombre de la Prueba 1</a>
                    </h3>

                    <p class="line-clamp-2 text-sm text-gray-700">
                        Descripción de la Prueba de Laboratorio 1.
                    </p>
                </div>
            </div>

            <div class="flex justify-end">
                <strong
                    class="-mb-[2px] -me-[2px] inline-flex items-center gap-1 rounded-ee-xl rounded-ss-xl bg-yellow-500 px-3 py-1.5 text-white">
                    <i class="fas fa-clock text-[10px] font-medium sm:text-xs"></i>
                    <span class="text-[10px] font-medium sm:text-xs">Pendiente</span>
                </strong>
            </div>

        </article>
    </div>
</div>
