<div class="container mx-auto my-20 px-4">
    <h1 class="text-3xl font-semibold mb-4 text-gray-600">Mantenimiento de Médicos</h1>
    <br>
    <div class="mt-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded">
            Crear Médico
        </button>
    </div>
    <br>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <a href="#" class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8">
            <span
                class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

            <div class="sm:flex sm:justify-between sm:gap-4">
                <div>
                    <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
                        Dr. Juan Pérez
                    </h3>
                    <p class="mt-1 text-xs font-medium text-gray-600">Cirujano</p>
                </div>
                <div class="hidden sm:block sm:shrink-0">
                    <img alt="Dr. Juan Pérez"
                        src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                        class="h-16 w-16 rounded-lg object-cover shadow-sm" />
                </div>
            </div>

            <div class="mt-4">
                <p class="max-w-[40ch] text-sm text-gray-500">
                    Dr. Juan Pérez es un cirujano con años de experiencia en cirugía cardiovascular.
                </p>
            </div>

            <dl class="mt-6 flex gap-4 sm:gap-6">
                <div class="flex flex-col">
                    <dt class="text-sm font-medium text-gray-600">Correo</dt>
                    <dd class="text-xs text-gray-500">juan.perez@example.com</dd>
                </div>

                <div class="flex flex-col">
                    <dt class="text-sm font-medium text-gray-600">Teléfono</dt>
                    <dd class="text-xs text-gray-500">123-456-7890</dd>
                </div>
            </dl>

            <div class="mt-6">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-2 rounded">
                    <i class="fa fa-pencil"></i> Editar
                </button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-medium py-1 px-2 rounded ml-2">
                    <i class="fa fa-trash"></i> Eliminar
                </button>
            </div>
        </a>

        <a href="#" class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8">
            <span
                class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

            <div class="sm:flex sm:justify-between sm:gap-4">
                <div>
                    <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
                        Dr. Luis Alvarado
                    </h3>
                    <p class="mt-1 text-xs font-medium text-gray-600">Cirujano</p>
                </div>
                <div class="hidden sm:block sm:shrink-0">
                    <img alt="Dr. Juan Pérez"
                        src="https://images.unsplash.com/photo-1622253692010-333f2da6031d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80"
                        class="h-16 w-16 rounded-lg object-cover shadow-sm" />
                </div>
            </div>

            <div class="mt-4">
                <p class="max-w-[40ch] text-sm text-gray-500">
                    Dr. Juan Pérez es un cirujano con años de experiencia en cirugía cardiovascular.
                </p>
            </div>

            <dl class="mt-6 flex gap-4 sm:gap-6">
                <div class="flex flex-col">
                    <dt class="text-sm font-medium text-gray-600">Correo</dt>
                    <dd class="text-xs text-gray-500">juan.perez@example.com</dd>
                </div>

                <div class="flex flex-col">
                    <dt class="text-sm font-medium text-gray-600">Teléfono</dt>
                    <dd class="text-xs text-gray-500">123-456-7890</dd>
                </div>
            </dl>

            <div class="mt-6">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-2 rounded">
                    <i class="fa fa-pencil"></i> Editar
                </button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-medium py-1 px-2 rounded ml-2">
                    <i class="fa fa-trash"></i> Eliminar
                </button>
            </div>
        </a>

        <a href="#" class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8">
            <span
                class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

            <div class="sm:flex sm:justify-between sm:gap-4">
                <div>
                    <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
                        Dra. Maria Rodriguez
                    </h3>
                    <p class="mt-1 text-xs font-medium text-gray-600">Pediatra</p>
                </div>
                <div class="hidden sm:block sm:shrink-0">
                    <img alt="Dra. Maria Rodriguez"
                        src="https://images.unsplash.com/photo-1594824476967-48c8b964273f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
                        class="h-16 w-16 rounded-lg object-cover shadow-sm" />
                </div>
            </div>

            <div class="mt-4">
                <p class="max-w-[40ch] text-sm text-gray-500">
                    Dra. Maria Rodriguez es una pediatra especializada en cuidado infantil.
                </p>
            </div>

            <dl class="mt-6 flex gap-4 sm:gap-6">
                <div class="flex flex-col">
                    <dt class="text-sm font-medium text-gray-600">Correo</dt>
                    <dd class="text-xs text-gray-500">maria.rodriguez@example.com</dd>
                </div>

                <div class="flex flex-col">
                    <dt class="text-sm font-medium text-gray-600">Teléfono</dt>
                    <dd class="text-xs text-gray-500">987-654-3210</dd>
                </div>
            </dl>

            <div class="mt-6">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-2 rounded">
                    <i class="fa fa-pencil"></i> Editar
                </button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-medium py-1 px-2 rounded ml-2">
                    <i class="fa fa-trash"></i> Eliminar
                </button>
            </div>
        </a>

        <a href="#" class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8">
            <span
                class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

            <div class="sm:flex sm:justify-between sm:gap-4">
                <div>
                    <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
                        Dra. Angela Marte
                    </h3>
                    <p class="mt-1 text-xs font-medium text-gray-600">Pediatra</p>
                </div>
                <div class="hidden sm:block sm:shrink-0">
                    <img alt="Dra. Maria Rodriguez"
                        src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                        class="h-16 w-16 rounded-lg object-cover shadow-sm" />
                </div>
            </div>

            <div class="mt-4">
                <p class="max-w-[40ch] text-sm text-gray-500">
                    Dra. Maria Rodriguez es una pediatra especializada en cuidado infantil.
                </p>
            </div>

            <dl class="mt-6 flex gap-4 sm:gap-6">
                <div class="flex flex-col">
                    <dt class="text-sm font-medium text-gray-600">Correo</dt>
                    <dd class="text-xs text-gray-500">maria.rodriguez@example.com</dd>
                </div>

                <div class="flex flex-col">
                    <dt class="text-sm font-medium text-gray-600">Teléfono</dt>
                    <dd class="text-xs text-gray-500">987-654-3210</dd>
                </div>
            </dl>

            <div class="mt-6">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-2 rounded">
                    <i class="fa fa-pencil"></i> Editar
                </button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-medium py-1 px-2 rounded ml-2">
                    <i class="fa fa-trash"></i> Eliminar
                </button>
            </div>
        </a>
    </div>
    <br />
</div>
</div>