<section class="overflow-hidden mt-0 flex justify-center items-center min-h-screen">
    <div class="flex flex-col px-4 py-8 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="w-full max-w-xl mx-auto lg:w-96">
            <div>
                <a class="text-blue-600 text-medium" href="/groups/login/">Pacientify</a>
                <h2 class="mt-6 text-3xl font-extrabold text-neutral-600">Iniciar Sesion</h2>
            </div>

            <div class="mt-4">
                <div class="mt-6">
                    <form action="#" method="POST" class="space-y-6">
                        <div>
                            <label for="email" class="block text-sm font-medium text-neutral-600">Email</label>
                            <div class="mt-1">
                                <input id="email" name="email" type="email" autocomplete="email" required=""
                                    placeholder="Ingresa tu Email"
                                    class="block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300">
                            </div>
                        </div>

                        <div class="space-y-1">
                            <label for="password" class="block text-sm font-medium text-neutral-600">Contraseña</label>
                            <div class="mt-1">
                                <input id="password" name="password" type="password" autocomplete="current-password"
                                    required="" placeholder="Ingresa tu Contraseña"
                                    class="block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300">
                            </div>
                        </div>

                        <div class="flex items-center justify-between">
                            <div class="text-sm">
                                <a href="#" class="font-medium text-blue-600 hover:text-blue-500">Olvide mi contraseña
                                    ?</a>
                            </div>
                        </div>

                        <div>
                            <button type="submit"
                                class="flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Iniciar
                                Sesion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
