<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaDePacientes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
        integrity="sha384-w9TqUD7lBtF+X7R+A9/j2uFOKwZb3m8lX1ZMxJcg7gG5mgy8Ij90El+bsQOjFL5dQ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaDePacientes.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body class="font-poppins">
    <header>
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <a href="#" class="flex items-center">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
                </a>
                <div class="flex items-center lg:order-2">
                    <a asp-controller="Auth" asp-action="Login"
                        class="text-blue-700 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none">Iniciar
                        Sesion</a>

                    <a asp-controller="Auth" asp-action="Register"
                        class="bg-blue-700 text-white font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none">Registrarse</a>
                </div>
                <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                         <li>
                            <a asp-controller="Home" asp-action="Index"
                                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 lg:border-0 lg:p-0 dark:text-gray-400 dark:border-gray-700 transition-all duration-300 ease-in-out hover:text-blue-700">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Users" asp-action="Index"
                                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 lg:border-0 lg:p-0 dark:text-gray-400 dark:border-gray-700 transition-all duration-300 ease-in-out hover:text-blue-700">Usuarios</a>
                        </li>
                        <li>
                            <a asp-controller="Doctors" asp-action="Index"
                                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 lg:border-0 lg:p-0 dark:text-gray-400 dark:border-gray-700 transition-all duration-300 ease-in-out hover:text-blue-700"
                                aria-current="page">Médicos</a>
                        </li>
                        <li>
                            <a asp-controller="TestsLaboratory" asp-action="Index"
                                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 lg:border-0 lg:p-0 dark:text-gray-400 dark:border-gray-700 transition-all duration-300 ease-in-out hover:text-blue-700"
                                aria-current="page">Pruebas de Laboratorio</a>
                        </li>
                        <li>
                            <a asp-controller="Patients" asp-action="Index"
                                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 lg:border-0 lg:p-0 dark:text-gray-400 dark:border-gray-700 transition-all duration-300 ease-in-out hover:text-blue-700"
                                aria-current="page">Pacientes</a>
                        </li>
                        <li>
                            <a asp-controller="Appointments" asp-action="Index"
                                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 lg:border-0 lg:p-0 dark:text-gray-400 dark:border-gray-700 transition-all duration-300 ease-in-out hover:text-blue-700"
                                aria-current="page">Citas</a>
                        </li>
                        <li>
                            <a asp-controller="Laboratory" asp-action="Index"
                                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 lg:border-0 lg:p-0 dark:text-gray-400 dark:border-gray-700 transition-all duration-300 ease-in-out hover:text-blue-700"
                                aria-current="page">Resultados de Laboratorio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mx-auto mt-8">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
